/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

section {
	width: 100%;
	margin: 0 auto;
}

section#content {
	width: 100%;

	position: relative;
	z-index: 0;
}

h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 110px;
	font-weight: 700;
	color: white;
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 75px;
	font-weight: 400;
	color: white;
}



#center-logo {
	z-index:1;
	position: absolute;
	top: 55%;
	left: 50%;
	min-width: 600px;
}

.space {
	height: 600px;
}

h3 {
	font-family: 'Open Sans', Arial;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 30px;
	margin: 0 0 10px 0;
	color: #FFF;
}

p {
	margin: 0 0 1em 0;
	font-size: 14px;
	line-height: 130%;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

section#part-1 {
	position: absolute;
	top: 470px;
	z-index: 1;
}

section#part-2 {
	position: absolute;
	top: 1440px;
	z-index: 2;
}

section#part-3 {
	position: absolute;
	top: 2180px;
	z-index: 3;
}

header {
	display: block;
	width: 650px;
	margin: 0 auto;
}

.content {
	margin: 0 auto;
	width: 650px;
	vertical-align: top;

	-webkit-column-count: 2;
	-moz-column-count: 2;
	-ms-column-count: 2;
	-o-column-count: 2;
	column-count: 2;

	-webkit-column-gap: 30px;
	-moz-column-gap: 30px;
	-ms-column-gap: 30px;
	-o-column-gap: 30px;
	column-gap: 30px;
}

#blob-0 {
	width: 100%;
	min-width: 600px;
}

#blob-1,
#blob-2,
#blob-3,
#blob-4,
#blob-5,
#blob-6,
#blob-7,
#blob-8,
#blob-9,
#blob-a {
	position: absolute;
	display: none;
	width: 100%;
	min-width: 600px;
	z-index: 0;
}

#blob-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;

}

.force-show {
	display: block !important;
}

aside {
	border-top: 3px solid #FFF;
	border-bottom: 3px solid #FFF;
	background: #00B2B2;
	height: 200px;
	width: 100%;
	z-index: 10;
	position: absolute;
	left: 0;
	font-size: 40px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.8);
	display: none;
}

aside h1 {
	font-family: 'Open Sans';
	text-transform: uppercase;
	color: #FFF;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
